*.log
*.swp
**/.idea_modules/
**/*.swp
*.tar.gz
*.DS_Store
.project
.idea/cssdialects.xml
node_modules/
build/
**/en-ps.json
target/
linux-transifex
apps/*/reports
apps/*/videos
apps/*/screenshots
components/*/reports
assets/reports
assets/src/Icons.js
/coverage/
dist/
.tags*
.idea/checkstyle-idea.xml
.idea/codeStyles/*
.idea/dictionaries
/storybook-static/
/reports/
/release/
.bldenv/
/yarn-error.log
apps/**/videos/
apps/**/screenshots/
.eslintcache
.idea/checkstyle-idea.xml
.idea/scopes
report.**.json
.idea
#Ignore cypress dev configs
apps/atlas-ui/**/cypress.env.json
apps/cyclops-ui/**/cypress.env.json
apps/scorpius-dispatch/cypress/fixtures/dynamic/*
